@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

/* Colors and font styles */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.header,.footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    margin: 0px;
}

a, .hero-secondary, .cta, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-family: Besley, serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

button, .cta {
    background-color: #3882F6;
}

.information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.subtext {
    color: lightslategray;
    font-size: 14px;
}

/* padding */

.hero, .cta, .footer {
    padding-left: 150px;
    padding-right: 150px;
}

.header-top, .content {
    padding-left: 100px;
    padding-right: 100px;
}

.quote {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cta {
    padding: 25px;
}

/* */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

a {
    text-decoration: none;
}

.hero-secondary {
    line-height: 48px;
    padding-right: 50px;
}

.hero {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.icon-list {
    justify-content: space-between;
}

button {
    height: 50px;
    width: 100px;
    font-size: 18px;
    color: white;
    border-radius: 12px;
    border: none;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 175px;
}

.window {
    border-radius: 25px;
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.sign-up {
    height: 50px;
    width: 100px;
    font-size: 18px;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
}

img {
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    border: 2px solid #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: flex-end;
}

.cta {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 12px;
    justify-content: space-evenly;
    gap: 38px;
}

.cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.cta-p {
    margin-top: 12px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.footer {
    display: flex;
    color: white;
    justify-content: center;

}